"*":
  Zen:
    softWrap: false
    typewriter: true
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Luxi Mono"
    invisibles: {}
    lineHeight: 1.7
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "f8d26d07-0776-96b3-b4f7-759702ab07d4"
  tabs:
    usePreviewTabs: true
  "travis-ci-status": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
"auto-detect-indentation":
  indentationTypes: [
    {
      name: "Best Indent"
      softTabs: true
      tabLength: 16
    }
  ]
