# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.

'*':
  'ellipsis':
    'prefix': 'lips'
    'body': '  width: 250px;\nwhite-space: nowrap;\noverflow: hidden;\ntext-overflow: ellipsis;\n'

  'External Link':
    'prefix': 'ex'
    'body': '{{#external-link url=""  class="link purple" }}LINK{{/external-link}}'

  'External Link':
    'prefix': 'malibu'
    'body': '{{malibu-icon name="element-28" size="28" iconClass="malibu-fill-gradient-purple"}}'

  'Font Smoothing':
    'prefix': 'smooth'
    'body': '-webkit-font-smoothing: antialiased;'

  'Onsong Setup':
    'prefix': 'onsong'
    'body': 'Title: \nArtist: \nKey: []\nOriginal Key: \nCANT Key: \nBook: \n\n'

  'Bm':
    'prefix': 'bm'
    'body': '[Bm]'

  'Am':
    'prefix': 'am'
    'body': '[Am]'

  'F':
    'prefix': 'f'
    'body': '[F]'

  'G':
    'prefix': 'g'
    'body': '[G]'
